@using DemoMVC.Core.ViewModel

@model DashboardIndexViewModel 

@{
    ViewData["Title"] = "Home Page";
}

<div class="riga">
    <div class="quadrato verde">Categorie: @Model.NumeroCategorie</div>
    <div class="quadrato rosso">Prodotti: @Model.NumeroProdotti</div>
    <div class="quadrato blu">Ultima categoria creata:<br>@Model.UltimaCategoriaCreata</div>
</div>

<div id="DivCategories">

</div>

@section Scripts {
    <script>
        $.getJSON("https://localhost:7155/categories", (categories) => {
            console.log(categories);

            var totale = categories.length;

            $("#DivCategories").append(totale);
        });
    </script>
}
